.wrapper {
    box-sizing: border-box;
    background-color: #e9d8be;
}

.center {
    max-width:500px;
    min-width:200px;
    margin: 0 auto;
    background-color: #eee;
}

.clearfix:before,.clearfix:after {
        content:"";
        display:table;  
       }
   .clearfix:after {
       clear:both;
   }
   .clearfix {
   *zoom:1;
   }
}

.fl {
    float:left;
}

.fr {
    float:right;
}

a {
    text-decoration: none;
    color: #000;
}

a:hover {
        cursor: pointer;

}

ul,
li {
    list-style:none;
}