<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout</title>
    <link rel="stylesheet" href="../../../main.css">
</head>
<body>
    <div class="wrapper">
        <h2>布局</h2>
        <ul>
            <li>两列布局</li>
            <ul>
                <li><a href="demo1.html">float：left</a></li>
                <li><a href="demo2.html">position:absolute+relative</a></li>
                <li><a href="demo4.html">float定宽+marin自适应</a></li>
            </ul>
            <li>三列布局</li>
            <ul>
                <li><a href="demo3.html">float</a></li>
                <li><a href="demo5.html">float+marin自适应+float</a></li>
            </ul>
        </ul>

    </div>
</body>
</html>