<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout</title>
    <link rel="stylesheet" href="../../../main.css">
</head>
<body>
    <div class="wrapper">
        <h2>布局</h2>
        <ul>
            <li>两列布局</li>
            <ul>
                <li><a href="demo1.html">双float自适应</a></li>
                <li><a href="demo2.html">左定宽absolute，右自适应</a></li>
                <li><a href="demo4.html">float定宽+margin自适应</a></li>
            </ul>
            <li>三列布局</li>
            <ul>
                <li><a href="demo3.html">全float自适应</a></li>
                <li><a href="demo5.html">左右定宽float，中间margin自适应</a></li>
                <li><a href="demo6.html">左右定宽absolute，中间margin自适应</a></li>
                <li><a href="demo7.html">圣杯</a></li>
                <li><a href="demo8.html">双飞翼</a></li>
            </ul>

        </ul>
        <img src="../../../img/layout.JPG" alt="layout">
    </div>
</body>
</html>